<div class="changeLog animate__animated animate__fadeIn">
    <div class="container-logo">
        <img [ngClass]="{'avatar_default': storageService.getUserData().avatar === 'assets/avatars/default.png', 'avatar': storageService.getUserData().avatar !== 'assets/avatars/default.png'}" [src]="storageService.getUserData().avatar" alt="avatar.png">
        <span style="margin: 0 5px;">Hola <strong>{{ storageService.getUserData().nombre }}!</strong></span>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Nueva Versión: {{ storageService.getData().version }}</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div [class]="storageService.getThemeCss('alert')" role="alert">
                    <h4 class="alert-heading">#Registro de cambios</h4>
                    <pre>{{ storageService.getData().changelog }}</pre>
                  </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <button [class]="storageService.getThemeCss('button') + ' w-50'" (click)="redirectoHome()">Adelante</button>
            </div>
        </div>
    </div>
</div>