<nav class="navbar navbar-expand-sm sticky-top {{ storageService.getThemeCss('nav') }}">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img class="logo" src="assets/icon.png" alt="icon.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/Dashboard/Home']" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="{ 'active': isDropdownActive_Stock() }">Stock</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/Dashboard/Components']" routerLinkActive="active">Componentes</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/Dashboard/Devices']" routerLinkActive="active" >Equipos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" *ngIf="storageService.getUserData().tipo_usuario === 'adm'">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="{ 'active': isDropdownActive_Manag() }">Gestiones</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item disabled" [routerLink]="['/Dashboard/Simulation']" routerLinkActive="active">Simulación</a></li>
                        <li><a class="dropdown-item disabled" [routerLink]="['/Dashboard/Orders']" routerLinkActive="active" >Pedidos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item disabled" [routerLink]="['/Dashboard/Taxs']" routerLinkActive="active" >Datos Fiscales</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" [routerLink]="['/Dashboard/AddComponents']" routerLinkActive="active" >Agregar Componentes</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/Dashboard/AddDevices']" routerLinkActive="active" >Agregar Equipos</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/Dashboard/AddModels']" routerLinkActive="active" >Agregar Modelo</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/Dashboard/Profile']" routerLinkActive="active" >Perfil</a>
                </li>
                <button type="button" class="btn btn-outline-danger" style="margin-left: 1rem;" (click)="logout()">Cerrar Sesión</button>
            </ul>
            <form class="d-flex" role="search">
                <!--!Se detectan los cambios con el Pipe 'async' si no, falla el avatar-->
                <img [ngClass]="{'avatar_default': storageService.getUserData().avatar === 'assets/avatars/default.png', 'avatar': storageService.getUserData().avatar !== 'assets/avatars/default.png'}" [src]="storageService.getUserData().avatar" alt="avatar.png">
                <input class="form-control me-2" disabled type="text" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-light disabled" type="button">Buscar</button>
            </form>
        </div>
    </div>
</nav>