<div class="login animate__animated animate__fadeIn">
    <div class="container">
        <div class="row text-center mt-5">
            <div class="col">
                <img class="logo" src="assets/icon.png" alt="icon.png">
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col">
                <h2>Identifícate</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="form w-50 m-auto">
                    <div class="form-floating mb-3">
                        <input 
                        type="text" 
                        id="floatingInput1" 
                        name="nombre_usuario" 
                        class="form-control" 
                        placeholder="Usuario..." 
                        [(ngModel)]="data.nombre_usuario"
                        (focus)="deleteBorder('nombre_usuario')" 
                        #nombre_usuario>
                        <label for="floatingInput1">Usuario</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input 
                            type="password" 
                            id="floatingInput2" 
                            name="clave" 
                            class="form-control" 
                            placeholder="Contraseña..." 
                            [(ngModel)]="data.clave"
                            (focus)="deleteBorder('clave')" 
                            #clave>
                            <label for="floatingInput2">Contraseña</label>
                        </div>
                        <button type="button" class="btn btn-outline-secondary" id="button-addon2" (click)="showPass()">
                            <span class="material-symbols-outlined" style="vertical-align: middle;" #icon>visibility</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col">
                <button type="button" class="btn btn-primary" (click)="validateData()">Iniciar Sesión</button>
            </div>
        </div>
    </div>
    <div class="copy">
        <p>&copy; {{ getYear() }} <strong>STManagement</strong> Derechos Reservados</p>
    </div>
</div>