<div class="login animate__animated animate__fadeIn">
    <div class="container">
        <div class="row text-center mt-5">
            <div class="col">
                <img class="logo" src="assets/icon.png" alt="icon.png">
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col">
                <h2>Identifícate</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="form w-50 m-auto">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Usuario...">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña...">
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Recordar Cuenta</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col">
                <button type="button" class="btn btn-primary">Iniciar Sesión</button>
            </div>
        </div>
    </div>
    <div class="copy">
        <p>&copy; {{ getYear() }} <strong>STManagement</strong> Derechos Reservados</p>
    </div>
</div>