.login {
    font-family: 'Ubuntu';
}
.title {
    font-family: 'Righteous';
}
.logo {
    width: 12rem;
}
.copy {
    position: absolute;
    bottom: 0;
    left: 1rem;
}
.__error {
    border: 1px solid tomato;
}