.preload {
    font-family: 'Ubuntu';
}
.icon {
    width: 5rem;
    text-align: center;
}
.title {
    font-family: 'Righteous';
}
.subtitle {
    letter-spacing: 1px;
}
.spinner-grow {
    width: 1rem;
    height: 1rem;
    margin: 0 3px;
}
.copy {
    position: absolute;
    bottom: 0;
    left: 1rem;
}