<div class="preload animate__animated animate__fadeIn">
    <div class="container">
        <div class="row text-center mt-5">
            <div class="col">
                <img class="icon" src="assets/icon.png" alt="icon.png">
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col">
                <h2 class="title">STManagement</h2>
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col">
                <h4 class="subtitle">"Si lo hacen por ti, ¿Para qué hacerlo tu?"</h4>
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col">
                <span style="margin-right: 0.5rem;">Cargando App</span>
                <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="copy">
        <p>&copy; {{ year }} <strong>STManagement</strong></p>
    </div>
</div>